please enter your address for delivery

<form method = "post" action = "address">
	<input type = "hidden" name = "delivery" value = "delivery">
	<input type = "text" name = "address" placeholder = "address here" required>
	<input type = "submit" value = "enter">
</form>
