would you like delivery?


<form method = "post" action = "delivery">
	<input type = "radio" name = "delivery" value = "delivery" checked>yes
	<input type = "radio" name = "delivery" value = "no delivery">no
	<input type = "submit" value = "enter">
</form>
