Please enter your name

<form method = "post" action = "names">
<input type = "text" name = "fname" placeholder="first name">
<input type = "text" name = "lname" placeholder="last name">
<input type = "submit" value = "enter">
</form>