<form method = "post" action = "size">

<div id = "box">
	what size do you want<br>
	
	<div id = "toppings">
	<input type = "radio" name = "size" value = "small,5.00">small: $5.00<br>
	</div>
	
	<div id = "toppings">
	<input type = "radio" name = "size" value = "medium,7.50">medium: $7.50<br>
	</div>

	<div id = "toppings">
	<input type = "radio" name = "size" value = "large,10" checked>large $10.00<br>
	</div>

</div>

<div id = "box">
what crust do you want<br>
	
	<div id = "toppings">
	<input type = "radio" name = "crust" value = "thin,1.00">thin: + $1.00<br>
	</div>

	<div id = "toppings">
	<input type = "radio" name = "crust" value = "regular,0.00" checked>regular<br>
	</div>
	
	<div id = "toppings">
	<input type = "radio" name = "crust" value = "stuffed,3.00">stuffed: + $3.00<br>
	</div>

</div>
<div id = "box">	
what type of meats do you want<br>
	
	<div id = "toppings">
	<img src = "/images/sausage.png"  width="42" height="42">
	<input type = "checkbox" name = "meats[]" value = "sausage,0.50">sausage: + $0.50<br>
	</div>
	
	<div id = "toppings">
	<img src = "/images/pepperoni.png"  width="42" height="42">
	<input type = "checkbox" name = "meats[]" value = "pepperoni,0.25">pepperoni: + $0.25<br>
	</div>
	
	<div id = "toppings">
	<img src = "/images/hamburger.png"  width="42" height="42">
	<input type = "checkbox" name = "meats[]" value = "hamburger,0.50">hamburger: + $0.50<br>
	</div>
	
	<div id = "toppings">
	<img src = "/images/ham.png"  width="42" height="42">
	<input type = "checkbox" name = "meats[]" value = "ham,0.50">ham: + $0.25<br>
	</div>
	
	<div id = "toppings">
	<img src = "/images/bacon.png"  width="42" height="42">
	<input type = "checkbox" name = "meats[]" value = "bacon,0.50">bacon: + $0.50<br>
	</div>
	
	<div id = "toppings">
	<img src = "/images/chicken.png"  width="42" height="42">
	<input type = "checkbox" name = "meats[]" value = "chicken,0.50">chicken + $0.50<br>
	</div>
</div>


<div  id = "box">
what type of vegetables do you want<br>
	
	<div id = "toppings">
	<img src = "/images/banana peppers.png"  width="42" height="42">
	<input type = "checkbox" name = "veggies[]" value = "banana peppers,0.25">banana peppers: + $0.25<br>
	</div>
	
	<div id = "toppings">
	<img src = "/images/green peppers.png"  width="42" height="42">
	<input type = "checkbox" name = "veggies[]" value = "green peppers,0.25">green peppers: + $0.25<br>
	</div>
	
	<div id = "toppings">
	<img src = "/images/mushrooms.png"  width="42" height="42">
	<input type = "checkbox" name = "veggies[]" value = "mushrooms,0.25">mushrooms: + $0.25<br>
	</div>
	
	<div id = "toppings">
	<img src = "/images/olives.png"  width="42" height="42">
	<input type = "checkbox" name = "veggies[]" value = "olives,0.50">olives: + $0.50<br>
	</div>
	
	<div id = "toppings">
	<img src = "/images/onions.png"  width="42" height="42">
	<input type = "checkbox" name = "veggies[]" value = "onions,0.50">onions: + $0.50<br>
	</div>
	
	<div id = "toppings">
	<img src = "/images/pineapple.png"  width="42" height="42">
	<input type = "checkbox" name = "veggies[]" value = "pineapple,0.50">pineapple: + $0.50<br>
	</div>
	
	<div id = "toppings">
	<img src = "/images/spinach.png"  width="42" height="42">
	<input type = "checkbox" name = "veggies[]" value = "spinache,0.25">spinach: + $0.25<br>
	</div>
	
	<div id = "toppings">
	<img src = "/images/jalapeno.png"  width="42" height="42">
	<input type = "checkbox" name = "veggies[]" value = "jalapeno,0.25">jalapeno: + $0.25<br>
	</div>
	
	<div id = "toppings">
	<img src = "/images/broccoli.png"  width="42" height="42">
	<input type = "checkbox" name = "veggies[]" value = "broccoli,0.25">broccoli: + $0.25<br>
	</div>
</div>

<div id = "box">	
	Do you want any specials<br>
	<div id = "toppings">
	<input type = "checkbox" name = "special[]" value = "extra sauce,1.00">extra sauce: + $1.00<br>
	</div>
	
	<div id = "toppings">
	<input type = "checkbox" name = "special[]" value = "extra cheese,1.00">extra cheese: + $1.00<br>
	</div>

	<div id = "toppings">
	<input type = "checkbox" name = "special[]" value = "extra toppings,0.25 each">extra toppings: + $0.25 for each topping <br>
	</div>

</div>
	<input type = "submit" value = "enter">
</form>
