<form method = "post" action = "size">
what size do you want<br>
<input type = "radio" name = "size" value = "small">small<br>
<input type = "radio" name = "size" value = "medium">medium<br>
<input type = "radio" name = "size" value = "large" checked>large<br>
what crust do you want<br>

<input type = "radio" name = "crust" value = "thin">thin<br>
<input type = "radio" name = "crust" value = "regular" checked>regular<br>
<input type = "radio" name = "crust" value = "stuffed">stuffed<br>
what type of meats do you want<br>
<div id = "toppings">
<img src = "/images/sausage.png"  width="42" height="42">
<input type = "checkbox" name = "meats[]" value = "sausage">sausage<br>
</div>
<div id = "pepperoni">
<input type = "checkbox" name = "meats[]" value = "pepperoni">pepperoni<br>
</div>
<div id = "hamburger">
<input type = "checkbox" name = "meats[]" value = "hamburger">hamburger<br>
</div>
<div id = "ham">
<input type = "checkbox" name = "meats[]" value = "ham">ham<br>
</div>
<div id = "bacon">
<input type = "checkbox" name = "meats[]" value = "bacon">bacon<br>
</div>
<div id = "chicken">
<input type = "checkbox" name = "meats[]" value = "chicken">chicken<br>
</div>
what type of vegetables do you want<br>
<div id = "bannana peppers">
<input type = "checkbox" name = "veggies[]" value = "bannana peppers">bannana peppers<br>
</div>
<div id = "green peppers">
<input type = "checkbox" name = "veggies[]" value = "green peppers">green peppers<br>
</div>
<div id = "mushrooms">
<input type = "checkbox" name = "veggies[]" value = "mushrooms">mushrooms<br>
</div>
<div id = "olives">
<input type = "checkbox" name = "veggies[]" value = "olives">olives<br>
</div>
<div id = "onions">
<input type = "checkbox" name = "veggies[]" value = "onions">onions<br>
</div>
<div id = "pineapple">
<input type = "checkbox" name = "veggies[]" value = "pineapple">pineapple<br>
</div>
<div id = "spinach"
<input type = "checkbox" name = "veggies[]" value = "spinach">spinach<br>
</div>
<div id = "jelapenoes">
<input type = "checkbox" name = "veggies[]" value = "jelapenoes">jelapenoes<br>
</div>
<div id = "broccoli"
<input type = "checkbox" name = "veggies[]" value = "broccoli">broccoli<br>
</div>
Do you want any specials<br>
<input type = "checkbox" name = "special[]" value = "extra sauce">extra sauce<br>
<input type = "checkbox" name = "special[]" value = "extra cheese">extra cheese<br>
<input type = "checkbox" name = "special[]" value = "extra toppings">extra toppings<br>
<br>
<br>
<input type = "submit" value = "enter">
</form>
